requests
beautifulsoup4
lxml
selenium
scrapy
pandas
numpy
PyMySQL
SQLAlchemy
tqdm
fake-useragent
aiohttp
pyquery
Flask
PyPDF2
matplotlib
seaborn
ipython
jupyter
scikit-learn
scipy
pymongo
redis
psycopg2
SQLAlchemy-Utils
PyYAML
xmltodict
Pygments
Click
PyJWT